
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    border: none;
}

/* navbar related styles */
.nav-bar {
    background-color: #1A0B2E;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 45px;
    color: #FFFFFF;
}
.gradient {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}