* {
    box-sizing: border-box;
    margin: 0%;
}
 body {
    background-color: #1A0B2E;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.text-white {
    color: #FFFFFF;
}
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #9100F8 }
  70% { box-shadow: 0 0 0 8px #1A0B2E ; }
  100% { box-shadow: 0 0 0 0 #1A0B2E; }
}

.btn-secondary {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
}

.section-heading {
    font-size: 3rem;
    margin-bottom: 40px;
    padding-top: 120px;
}

.section-description {
    line-height: 20px;
}

hr {
    height: 2px;
    width: 80%;        
    color: #aeacac;
    border-top: 1px solid #1A0B2E;
    margin-right: auto;
    margin-left: auto; 
    opacity: 0.5;
}

/* navbar related styles */
.nav-bar {
    background-color: #1A0B2E;
    justify-content: space-between;
    align-items: center;
    padding: 36px 40px;
}
.brand {
    font-size: 2.8rem;
}
.gradient {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

#toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.sub-btn {
    list-style: none;
}

/* banner related styles */

.banner {
    background-image: url('../assets/hero-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #1A0B2E;
    text-align: center;
    margin-bottom: 30px;
    padding: 100px 20px 40px;
    position: relative;
}    
.banner-icon {
    position: relative;
}
.banner-circle {
    position: relative;
    transform: translate(0, -8%);
    width: 28%; 
}

.banner-mic {
    position: absolute;
    transform: translate(-210%, 40%);
    width: 8.5%;
    
}

.new-badge {
    background-color: #00FF88;
    color: black;
    padding: 8px 16px;
    border-radius: 10000px;
    font-weight: 600;
    position: absolute;
    top: 5%;
    left: 59%;
}

.banner-heading {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.btns {
    margin-top: 24px;
    justify-content: center;
    gap: 10px;
}
/* abt section related styles */
.abt {
    background-color: #1A0B2E;
    text-align: center;
    margin-bottom: 40px;
}

.join {
    margin-bottom: 80px;
}
.card-container{
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 40px;
    padding-top: 40px;
}

.card {
    text-align: center;
}

.badge {
    color: #00FF88;
    font-size: 3rem;
}

.section-description {
    margin-bottom: 20px;
}


/* why-choose section */

.why-choose {
    text-align: center;
    background-color: #230E3D;
}

.why-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
    padding: 20px;
}

.why-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    
}

.why-heading {
    font-size: 1.5rem;
}

.audio {
    grid-row: span 2;
    padding: 107px 40px;
}

.mobile {
    grid-column: span 2;
    padding: 40px;
}

.community {
    grid-column: span 2;
    padding: 40px;
}

.interview {
    grid-column: span 2;
    padding: 40px;
}

.resource {
    padding: 40px;
}

.interview img {
    height: 65px;
    width: 70px;
}
/* featured related styles */

.featured .section-heading{
    text-align: center;
    margin-bottom: 100px;
}

.video-container {
    gap: 30px;
    padding: 0 20px;
}

.video {
    background-color: #250D44;
    border-radius: 40px;
    overflow: hidden;
    /* border-radius: 50px; */
}
.video iframe {
    width: 100%;
    height: 200px;
    /* border-radius: 50px; */
}

.video-head {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.video-description {
    line-height: 24px;
    margin-bottom: 12px;
}

.video-content {
    padding: 24px;
}

.time {
    color: #00FF88;
}

/* host-relayted styles */
.host-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    padding: 0 20px;
}
.host-info {
    background-color: rgba(53, 17, 101, 0.4);
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    padding: 30px 5px;
}

.host-content {
    width: 80%;
    flex-direction: column;
    gap: 8px;
}

.host-socials {
    gap: 8px;
    align-items: center;
}

.host-social {
    padding: 12px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

.host-social img {
    width: 16px;
    height: 16px;
}

/* footer related styles */

.footer-section {
    background-image: url('../assets/footer-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0 120px;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-logo {
    font-size: 3.75rem;
    font-weight: 800;
}

.socials-container {
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.social a {
    text-decoration: none;
    color: #FFFFFF;
}

/* responsive related styles */

@media screen and (max-width: 576px) {
    .hamburger {
        display: block;
    }

    .nav-sub {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #1A0B2E;
        gap: 12px;
        padding: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        border-radius: 10px;
        z-index: 9999;
    }

    #toggle:checked~.nav-links {
        display: flex;
    }

    .banner {
        width: 100%;
        padding: 90px 10px 10px;
        margin-top: 20px;
    }

    .banner-icon {
        position: relative;
    }
    .banner-circle {
        position: relative;
        transform: translate(0, -55%);
        width: 50%;
        
    }

    .banner-mic {
        position: absolute;
        transform: translate(-270%,-74%);
        width: 11%;
        
    }

    .new-badge {
        position: absolute;
        transform: translate(-10%, -290%);
    }

    .btns {
        gap: 20px;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .why-cards {
        grid-template-columns: 300px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .video-container {
        flex-direction: column;
    }

    .host-info {
        flex-direction: column;
    }

    .host-socials {
        margin-top: 10px;
    }
    .footer-section {
        background-image: url(../assets/footer-bg\ -\ cropped.png);
        background-size: 100% 400px;
    }

    .footer-logo {
        font-size: 2.75rem;
        font-weight: 800;
    }
    .socials-container {
        grid-template-columns: repeat(2, 130px);
        gap: 10px;
    }

    .socials a {
        font-size: 11.5px;
    }

    .copyright {
        font-size: 11.5px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .banner-icon {
        position: relative;
    }
    .banner-circle {
        position: relative;
        transform: translate(0, -35%);
        
    }

    .banner-mic {
        position: absolute;
        transform: translate(-170%,-30%);
        
    }

    .new-badge {
        position: absolute;
        transform: translate(-25%, -220%);
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

        .video-container {
        flex-direction: column;
    }

    .host-info {
        flex-direction: column;
    }
    .footer-section {
        background-size: 100% 400px;
    }

    .socials-container {
        grid-template-columns: repeat(2, 150px);
        gap: 10px;
    }
}

